<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datecheck</title>
</head>
<body>
    <div>
        <label>Enter Date</label>
        <input type="text" id="date" name="date" placeholder="Enter Date"><br>
        <button type="button" id="checkdate">Validate</button>
    </div>
    <%-include('./partials/foot.html')-%>
<script src="/ajax/datecheck.js"></script>
</body>
</html>