<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <h1>Registration</h1>
    <div>
        <form>
            <label for="fname">Name</label>
            <input type="text" id="fname" name="fname" placeholder="Enter Name"><br>
            <label for="passwd">Password</label>
            <input type="password" id="passwd" name="passwd" placeholder="Enter Password"><br>
            <label>Gender</label>
            <input type="radio" id="gender" name="gender" value="male">
            <label for="male">Male</label>
            <input type="radio" id="gender" name="gender" value="female">
            <label for="female">Female</label><br>
            <label for="agegroup">Age Group</label>
            <select id="agegroup" name="agegroup">
                <option value="select">Select Age Group</option>
                <option value="18 - 24">18 - 24</option>
                <option value="25 - 36">25 - 36</option>
                <option value="37 - 55">37 - 55</option>
                <option value="56 & Above">56 & Above</option>
            </select>
            <button type="button" id="submitform">Submit Form</button>
        </form>
        <%-include('./partials/foot.html')-%>
            <script src="/ajax/form.js"></script>
    </div>
</body>

</html>